[user]
	name = vvmk
	email = vincentmasiello@gmail.com
[push]
	default = matching
[core]
	excludesfile = ~/.cvsignore
	editor = vim
	autocrlf = input
[color]
	ui = true
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
	st = status
	ch = checkout
	br = branch
	co = commit
	ad = add
	pom = push origin master
	pod = push origin dev
	ca = commit -a
	fa = fetch --all
	aliases = config --get-regexp ^alias\\.
[init]
	templatedir = ~/.git_template
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
